name: Ansible Playbook
on:
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Install Ansible
      run: sudo apt-get install ansible
    - name: Run Ansible playbook on Localhost
      run: |
       ansible --version
       ansible-playbook msg.yaml
      env:
        ANSIBLE_HOST_KEY_CHECKING: False
    - name: Run Ansible Playbook on provided host
      run: |
       eval `ssh-agent -s`
       pwd
       mkdir -p /home/runner/.ssh/
       touch /home/runner/.ssh/id_rsa
       echo -e "${{secrets.SSH_KEY}}" > /home/runner/.ssh/id_rsa.pem
       cat /home/runner/.ssh/id_rsa.pem
       chmod 600 /home/runner/.ssh/id_rsa.pem
       echo "changed permission"
       ssh-keyscan -t rsa,dsa,ecdsa,ed25519 ${{secrets.SSH_HOST}} >> /home/runner/.ssh/known_hosts
       echo "host configure"
       ssh -i /home/runner/.ssh/id_rsa.pem root@ip-172-31-11-43
    - name: Run ansible script
      shell: bash 
      run: |
       service ssh status
       #cd infrastructure/ansible
       #cat setup-prod.yml
       sudo ansible-playbook -u ${{secrets.ANSIBLE_DEPLOY_USER}} -vvv --private-key /home/runner/.ssh/id_rsa.pem -i host1 msg.yaml
       

 
       
      
